@model IEnumerable<OrderDeliveryTracker.Models.Order>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (item.Status != "Delievered")
                {
                    @Html.ActionLink("Delivery Completed", "OrderDelivered", new { OrderID = item.OrderID })
                }
            </td>
        </tr>
    }
}

</table>
